#img-logo {
  width: 30px;
  height: 30px;
}
#tital {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 45px;
}
#fa-angle-down {
  position: absolute;
  top: 10px;
  left: 125px;
}
#p1 {
  word-spacing: 4rem;
  position: absolute;
  top: 20px;
  left: 825px;
}

#h2-1 {
  width: 90px;
  height: 30px;
  color: white;
  text-align: center;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 2150px;
  border-radius: 20px;
}
#h3-1 {
  position: absolute;
  top: 20px;
  left: 2270px;
}

#h1-2 {
  font-size: 40px;
  position: absolute;
  top: 500px;
  left: 950px;
}

#word1 {
  font-size: 80px;
  position: absolute;
  top: 450px;
  left: 650px;
}
#word2 {
  font-size: 20px;
  position: absolute;
  top: 550px;
  left: 650px;
}
#word3 {
  color: gray;
  font-size: 20px;
  position: absolute;
  top: 650px;
  left: 650px;
}
#img-senter {
  height: 600px;
  position: relative;
  top: 250px;
  left: 1450px;
}
#text-on-img {
  position: absolute;
  top: 650px;
  left: 1590px;
  width: 200px;
  }
